
main {
  padding: 1.5rem;
  max-width: 80rem;
  min-width: 30rem;
  margin: 1rem auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: var(--primary-border);
  border-radius: 1em;
  box-shadow: var(--primary-box-shadow);
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;
  border-bottom: var(--primary-border);
  box-shadow: var(--primary-box-shadow);
  background-color: var(--primary-background);
}

.searchContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.filtersContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-items: center;
  align-items: center;
  gap: 1rem;
}

.spinner-circular {
  width: fit-content;
  height: fit-content;
  padding: 1rem;
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 2px solid #ccc;
  padding: 1rem;
  border-radius: 1em;
  box-shadow: var(--primary-box-shadow);
  > p {
    margin: 0.5rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.5;
  }
}




