
.searchContainer {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 0.5rem;
    box-shadow: var(--primary-box-shadow);
    overflow: hidden;
    > .summary {
        text-align: left;
        font-size: 0.7rem;
        font-weight: 600;
        cursor: pointer;
    }
    > .filtersContainer {
        display: grid;
        width: 100vw;
        padding: 0.5rem 1.5rem;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        justify-content: space-around;
        justify-items: center;
        align-items: center;
        gap: 1rem;
    }
}

.main {
    padding: 1.5rem;
    max-width: 80rem;
    min-width: 30rem;
    margin: 13rem auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: var(--primary-border);
    border-radius: 1em;
}
