.nav {
    padding: 0.5rem 0;
    margin-left: auto;
    justify-self: center;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    > .liItem {
        list-style: none;
        width: 4rem;
        height: fit-content;
        padding: 0.5em;
        text-align: center;
        cursor: pointer;
        border-radius: 0.5rem;
        font-size: 0.8rem;
    }
}

/* On screens that are 800px or more (Tablets & Desktops) */
@media (min-width: 800px) {
    .nav {
        margin-left: 0;
        justify-self: center;
        flex-wrap: nowrap;
    }
}