.switchBoxContainer {
    width: fit-content;
    padding: 0.5rem 1rem;
    padding-right: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 0.5rem
}
